*{
	padding: 0;	
	margin: 0;
}
body div{
	padding: 20px;
	border:1px solid #999;	
	background: #eee;
}
body{
	padding: 20px;
	background: #fff;
	border:1px solid #999;
}
.outer,.inner{
	overflow: auto;
}
.team{
	float:left;
	width: 160px;
	background: #fff;
	margin-right:20px; 
}
.right{
	border: 0px;
	padding: 0;
	overflow: auto;
}
.selflogos{
	float:right;
}
.selflogos{
	margin-left: 20px; 
	width: 80px;
    background: #fff;
}
.selflogo,.teamlogo{
	padding: 0px;
	width: 80px;
    height: 80px;
}
.selflogo + .selflogo{
	margin-top: 20px;
}
.intro{
	overflow: auto;
	background: #fff;
}
.teamname{
	float:right;
}
a{
	color: #87cefa;
}
a:link,.top a:visited
{
	margin-top: 20px;
	display: block;
	width: 100px;
	font-weight: bold;
	/* background-color: #bebebe; */
	text-align: center;
	/* padding: 4px; */
	text-decoration: none;
	}
a:hover,a:active
{
	background-color:#878787;
}