    body{
    	margin: 0;
    	background: #ececec;
    }
    .top{
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
    	height: 70px;
    	background: #555;
    }
    .header{
  		float: left;
    }
    .header img{
    	width: 100px;
    	/* height: 80px; */
    	line-height: 70px
    }
    .nav{
    	list-style: none;
    	float: right;
    	margin: 0 2em 0 0;
    	line-height: 70px;
    }
    .nav li{/*生成水平导航栏*/
    	float: right;
    }	
    .top:after{                     /*清除浮动*/
    	content: ".";
    	height: 0;
    	visibility: hidden;
    	display: block;
    	clear: both;
    }
    
    .page{
   		 background: #fff;
   		 margin: 31px 20px;
   		 padding-bottom: 30px;
    }
    article{
    	margin-bottom: 50px;
    }

    .sidebar{
    	background: #fff;
    	margin: 0 20px;
    	overflow: hidden;
    }
    .secondtitle{
    	margin-top: 0px;
    	padding: 30px 0 0 25px;
    }
    .thirdtitle{
    	padding: 0 0 0 25px;
    }
    .mainarticle{
    	margin: 0 25px;
    	line-height: 1.5em;
    }
    span{
    	font-weight: bold;
    }
    .listone{
    	margin-bottom: 0;
    }
    .gakki{
    	width: 105px;
    	border:1px groove;
    	text-align: center;
    	margin-bottom: 20px;
    	margin-left: 25px;
    }
    #gakkilast{
    	width: 105px;
    	border:1px groove;
    	text-align: center;
    	margin-left: 25px;
    }
    .score{
    	width: 100%;
    	text-align: left;
    	border-collapse: collapse;
    	border: 1px groove;
    }
    .tablepage{
    	margin: 10px 20px;
    }
    .score th{
    	background: #424242;
    }
    .score td, th {
    	border: 1px groove #ebebeb;
	}
	tr:last-child td{
		border: 0px;
		background: #d1d1d1;
	}
	#laiangnaduo{
		margin-left: 20px;
	}

	.top a:link,.top a:visited
	{
	    display: block;
	    width: 100px;
	    font-weight: bold;
	    color: #FFFFFF;
	    /* background-color: #bebebe; */
	    text-align: center;
	    /* padding: 4px; */
	    text-decoration: none;
	    text-transform: uppercase;
	}
	a:hover,a:active
	{
		background-color:#0a0a0a;
	}
	.sider-header{
	    margin: 30px 0px 30px 20px;
	    border-left: 3px solid #d1d1d1;
	    line-height: 1.5em;
	    height: 1.5em;
	}
	.sider-header span{
		margin-left: 7px;
	}
    form p:before{
        content: "";
        display: inline-block;
        /* text-align: right; */
        width: 30%;
    }
    form p{
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 100;
        font-family: cursive;
    }
    form input,select,textarea{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    textarea{
        width: 60%;
        height: 100px;
        font-family: cursive;
    }
    .chooselast{
        display: inline-block;
        text-align: right;
        width: 30%;
        vertical-align: top;

    }
    .choose{
        display: inline-block;
        text-align: right;
        width: 30%;
    }
    .radio,.checkbox{
            display: inline-block;
    }
.radio label,.checkbox label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 13px;
}

.radio label:before,.checkbox label:before{
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
    border-radius: 8px;
    background: #ffffff;
}
.checkbox label:before {
    border-radius: 3px;
    background: #ffffff;
}


input[type=radio],
input[type=checkbox] {
    display: none;
}

input[type=radio]:checked + label:before {
    background-color: #1e90ff;
    content: "\2022";
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 14px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    background-color: #1e90ff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(http://p1.bpimg.com/567571/8e6b4e69f4065d13.png) no-repeat scroll right center transparent;
    padding-right: 14px;
    width: 4em;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.button{
    margin: 10px 20px;
    text-align: center;
}
.button input{
    -webkit-border-radius: 10px;
    background: #009acd;
    padding: 0;
    border: 1px hidden;
    height: 35px;
    color: #fff;
    width: 45%;
}
.button input:hover{
     background-color:#0000ee;
}
footer{
    background: #616161;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;

}
footer ul{
    list-style: none;
    padding-top: 10px;
}
footer a{
    color: #fff;
    text-decoration: none;
}
.ol{
    padding-left: 20px;
}